@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.box {
    height: 100vh;
    max-width: 40vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(234,239,241);
}

@media (max-width: 1250px) {
    .box {
        max-width: 70vw;
    }
}

@media (max-width: 700px) {
    .box {
        max-width: 100vw;
    }
}

.box2 {
    width: 82%;
    height: 95%;
    border: 1px solid #C1D1DC;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: white;
    
}

.div1 {
    height: 50%;
    width: 95%;
    background-image: url(assets/pexels-media-206359.jpeg);
    background-size: cover;
    background-position: center center;
    border-radius: 18px;
    margin-top: 9px;
    margin-bottom: 30px;
}

@media (max-width: 500px) {
    .div1 {
        height: 40%;
    }
}

.div2 {
    display: flex;
    gap: 15px;
    width: 85%;
    flex-wrap: wrap;
}

.div2 span {
    gap: 40px;
    font-size: 1rem;
    border: 1px solid #e1e3e6;
    border-radius: 20px;
    padding: 2px 10px;
    color: #95A0AD;
    font-weight: 600;
    
}

.div3 {
    width: 88%;
    font-size: 1rem;
    padding: 15px 0;
    color: #959FAC;
}

.h1 {
    padding-bottom: 10px;
    font-size: 2.25rem;
    color: black;
    font-weight: 500;
}

@media (max-width: 500px) {
    .box {
        font-size: 1.75rem;
    }

    .div3 {
        font-size: 0.9rem;
        margin-bottom: 15px;
    }
}

button {
    font-size: 0.75rem;
    padding: 13px 24px;
    border-radius: 20px;
    margin-top: 9px;
    border: none;
    background-color: #d1e7fd;
    color: #59A7FF;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 10px;
}

@media (max-width: 500px) {
    button {
        position: absolute;
        bottom: 20px;
        left: 115px;
    }
}

